<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 header-section">
          <div class="col-sm-6">
            <h3> Products</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="company-id">Product Id.</th>
              <th>Name</th>
              <th>Type</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productDetail">
              <td>{{product.id}}</td>
              <td> {{product.name}}</td>
              <td> {{product.type}}</td>
              <td> {{product.owner}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
 


