<div class="form-section">
    <div class="card default-card">
      <div class="card-body login-card-body">
        <h4 class="text-align">
          {{ 'PLACEHOLDER.RESET_PASSWORD_NOTE' | translate }}
        </h4> <br>
        <form [formGroup]="forgotPasswordForm" role="form" (ngSubmit)="forgotPassword()">
          <div class="input-group">
            <input #password type="password" class="form-control" placeholder="New Password" formControlName="password" trim>
            <div class="input-group-append">
              <div class="input-group-text" (click) = "showPassword(password)">
                <span class="fas fa-eye"></span>
              </div>
            </div>
          </div>
          <span *ngIf="forgotPasswordForm.get('password').invalid && forgotPasswordForm.get('password').errors.required && forgotPasswordForm.get('password').touched">
            <div class="error-text">
                {{ 'VALIDATION.INVALID_PASSWORD' | translate }}
            </div>
          </span>
            <input #re_password  
                   type="password" 
                   class="form-control" 
                   placeholder="Confirm Password" 
                   formControlName="resetPassword">
          <span *ngIf="forgotPasswordForm.get('resetPassword').invalid && forgotPasswordForm.get('resetPassword').touched">
            <div class="error-text">
              {{ 'VALIDATION.INVALID_CONFIRM_PASSWORD' | translate }}
            </div>
          </span>
          <div class ="text-align mb-3">
            <button type="submit" 
            [disabled]="forgotPasswordForm.invalid"  
            style = "width:30%"
            class="btn button-custom-enabled" > {{ 'PLACEHOLDER.SUBMIT' | translate }}</button>
            <button type="button" 
            (click) = "backToLogin()"
            style = "width:30%; margin:7px"
            class="btn button-custom-enabled" > {{ 'PLACEHOLDER.BACK_LOGIN' | translate }}</button>

          </div>
        </form>
      </div>
    </div>
  </div>