<div class="form-section">
  <div class="card default-card" style="width:70%">
    <div class="card-body">
        <h4 class="text-align">
          {{ 'PLACEHOLDER.RESET_PASSWORD_EMAIL_NOTE' | translate }}
        </h4> <br>
        <form [formGroup]="emailForm" role="form" (ngSubmit)="submitEmail()">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Email Id" formControlName="email" trim>
          </div>
          <div *ngIf="emailForm.get('email').value && emailForm.get('email').invalid && emailForm.get('email').touched">
            <div class="error-text">
              {{ 'VALIDATION.INVALID_FORMET_EMAIL' | translate }}
            </div>
          </div>  
          <span *ngIf="emailForm.get('email').invalid && emailForm.get('email').errors.required && emailForm.get('email').touched">
            <div class="error-text">
                {{ 'VALIDATION.INVALID_EMAIL' | translate }}
            </div>
          </span>
          <div class ="text-align mb-3">
            <button type="submit" 
            [disabled]="emailForm.invalid"  
            style = "width:30%"
            class="btn button-custom-enabled" > {{ 'PLACEHOLDER.SUBMIT' | translate }}</button>
            <button type="button" 
            (click) = "backToLogin()"
            style = "width:30%; margin:7px"
            class="btn button-custom-enabled" > {{ 'PLACEHOLDER.BACK_LOGIN' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>