$enabled-button:#8d8581;
$font:#8d8581;
$enabled-button-text: #fff;
$disabled-button:#ACACAC;
$disabled-button-text: #fff;
$sidebar-start-color:#060913;
$sidebar-center-color:#181F3C;
$sidebar-end-color:#496E92;
$sidebar-white-color:#ffffff;
$default-theme-color:#343a40;
$header-start-color:#060913;
$header-center-color:#181F3C;
$header-end-color:#496E92;
$header-white-color:#ffffff;
$card-header-start-color:#060913;
$card-header-center-color:#181F3C;
$card-header-end-color:#496E92;
$card-header-white-color:#ffffff;
$card-title-color:#E6EBF0;
$imagePreview-box-shadow: rgba(0, 0, 0, 0.2);
$image-add-background: #4bd7ef;
$white: #fff;